@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
    background: radial-gradient(
        circle at top center,
        hsla(222, 80%, 60%, 0.5) 0%,
        hsla(222, 0%, 0%, 0) 50%,
        hsla(222, 0%, 0%, 0) 100%
    );
}

/* width */
::-webkit-scrollbar {
    width: 6px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #0F172A;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }